<h2>{{title}}</h2>
<div>
  {{content}}
  <br />
  - by
  {{user.username}}
</div>

<a href="/posts">See all {{this.author}}'s posts </a>
<br />
{{#if user}}
<a href="/post-create">Create devnout</a>
<br>
<a href="/posts/{{this._id}}/edit">Edit nout</a>
<br />
    <form action="/posts/{{this._id}}/delete" method="POST">
      <button>Delete nout</button>
    </form>
  </form>
{{/if}}