<body class="details_page">
  <div class="details_whole container mt-3">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card mb-3">
          <div class="card-header">
            <h2>{{title}}</h2>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>{{content}}</p>
              <footer class="blockquote-footer mt-3">by
                {{author.username}}</footer>
            </blockquote>
          </div>

        </div>
        <div
          class="details-buttons btn-group btn-group-sm"
          role="group"
          aria-label="Small button group"
        >
          <button type="button" class="btn btn-primary btn-sm"><a
              href="/posts/{{this._id}}/edit"
            >Edit nout</a></button>
          <button type="button" class="btn btn-primary btn-sm"><a
              href="/post-create"
            >Create devnout</a></button>
          <button
            type="button"
            class="details-buttons btn btn-primary btn-sm"
          ><a href="/posts">See all nouts</a></button>
        </div>
        <form
          class="details-buttons"
          action="/posts/{{this._id}}/delete"
          method="POST"
          style="display:inline"
        >
          <button type="submit" class="btn btn-primary btn-sm">Delete nout</button>
        </form>
        <br />
        <div class="comments mt-3 ml-auto">
          <h3 class="display-6 text-end">Comments</h3>
          {{#each comments}}
            <p class="text-end"><span
                class="fw-bold"
              >{{this.author.username}}</span>:
              {{this.content}}</p>
          {{/each}}
        </div>
        <br />
        {{#if user}}{{/if}}
        {{! //////////////////////////////////////////// }}
        {{#unless comments}}
          <p class="mt-3">No comments yet!</p>
        {{/unless}}

        <hr />
        {{#if user}}
          <div class="comment-form">
            <h3>Add comment</h3>
            <form
              class="details-buttons"
              action="/posts/{{_id}}/comment"
              method="post"
            >
              <div class="form-group mb-3">
                {{! <label for="author" class="mb-3">Your username:</label>
                <input
                  type="text"
                  name="author"
                  id="author"
                  class="form-control"
                /> }}
              </div>
              <input type="hidden" name="authorId" value="{{user._id}}" />
              <input
                type="text"
                name="postAuthor"
                value="{{user.username}}"
                hidden
              />
              <div class="form-group">
                <label for="content" class="mb-3">Leave Comment:</label>
                <textarea
                  name="content"
                  id="content"
                  cols="30"
                  rows="2"
                  class="form-control"
                ></textarea>
              </div>
              <button
                type="submit"
                class="btn btn-primary btn-sm mt-3"
              >Comment</button>
            </form>
          </div>
        {{else}}
          <p>You must be logged in to add a comment.</p>
        {{/if}}
        <br />
        {{!-- {{!-- <a href="/users/{{author._id}}/posts">See all --}}
        {{!-- {{!-- {{author.username}}'s posts --}}
        {{! </a> }}
      </div>
    </div>
  </div>
</body>